<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Detail of <%= mainUser.firstname %> </h1>
    <ul>
<li><%= mainUser.firstname %></li>
<li><%= mainUser.lastname %></li>
<li><%= mainUser.username %></li>
<li><%= mainUser.email %></li>


</ul>

<% for(let post of author){ %>
    <div>
        <%= post.title %> 
    </div>
    <p>By <%= post.user.firstname %> </p>
    <a href="/users/<%= mainUser._id %>/post/<%= post._id %>">View</a>
    <% } %> 

    

<a href="/users/<%= mainUser.id %>/posts ">Posts</a>
<a href="/logout">Log out</a>
</body>
</html>