<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/detail.css" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <header>
        <nav class="nav-bar">
            <h2 class="logo">yourBlog</h2>
            <ul class="list">
                <li><a href="/users/<%= mainUser._id %>">Home</a></li>
                <li><a href="/users/<%= mainUser.id %>/posts">My Posts</a></li>
                <li><a href="/logout">logout</a></li>


            </ul>
        </nav>
    </header>
    <div class="greeting">
        <h1>Hello <%= mainUser.firstname %>! this is your Dashboard </h1>
        <p>You can find your posts in the <span class="link">My Posts</span> link in the nav bar.</p>
        <p>Below is the list of blog posts by other users. You can view them and leave feedback. </p>

    </div>



    <% for(let post of author){ %>
        <div class="wrapper">
        
            <h2 class="title">    <%= post.title %></h2>
            <a href="/users/<%= mainUser._id %>/post/<%= post._id %>">View Post</a>
        </div>
        <% } %>



</body>

</html>